/**
 * +++++++++++++++++++++++++
 * PHP Microsite Boilerplate
 * +++++++++++++++++++++++++
 * 
 * Version: 1.3.0
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/jekuer/php-microsite-boilerplate
 * License: GNU General Public License v3.0	(gpl-3.0)
 * 
 * ++++++++
 * Main CSS
 * ++++++++
 * 
 * Table of Contents
 * -----------------
 * 1.0 - General Framwork
 * 2.0 - General Layout
 * 3.0 - Helper
 * 4.0 - Buttons and Input
 * 5.0 - Custom Elements
 * 
 * 
 * Note: Mind to minimize this file.
 * 
 */


/**
 * 1.0 - General Framwork
 */

/* Google Fonts. Include directly via https://google-webfonts-helper.herokuapp.com/fonts and mind "font-display:swap;" for best performance and GDPR compliance. */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url('../fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Defining base elements. */

body {
  background: #353535;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.7rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

::selection {
  background: #e29301;
  color: #fff;
}
::-moz-selection {
  background: #e29301;
  color: #fff;
}

noscript {
  color: red;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1rem;
  margin: 0;
  padding: 60px 0;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  word-wrap: break-word;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
  padding: 40px 0 15px 0;
  word-wrap: break-word;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1rem;
  margin: 0;
  padding: 40px 0 15px 0;
  word-wrap: break-word;
}

strong {
  font-weight: 600;
}

a,
a:active,
a:focus {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

a.dark_link {
  color: #353535;
}
 
a:hover,
a.dark_link:hover {
  color: #e29301;
  text-decoration: none;
}

li + li,
li + ul li,
ul + li {
  margin-top: 10px;
}

/* Mobile Adjustments */

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }

}


/**
 * 2.0 - General Layout
 */

 #main {
  height: 100%;
  width: 100%;
  
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  width: 100%;
}

.container_small {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
  width: 100%;
}

.area1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008c48+0,00602b+100 */
  background: #008c48; /* Old browsers */
  background: -moz-linear-gradient(top, #008c48 0%, #00602b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #008c48 0%,#00602b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #008c48 0%,#00602b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008c48', endColorstr='#00602b', GradientType=0); /* IE6-9 */
  display: block;
  padding-bottom: 150px;
  padding-top: 100px;
  width: 100%;
}

.area2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff+0,efefef+100 */
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%,  #efefef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%, #efefef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#efefef', GradientType=0); /* IE6-9 */
  box-shadow: inset 0px 50px 50px -50px rgba(0, 0, 0, .75);
  -webkit-box-shadow: inset 0px 50px 50px -50px rgba(0, 0, 0, .75);
  -moz-box-shadow: inset 0px 50px 50px -50px rgba(0, 0, 0, .75);
  clip-path: polygon(0 calc(2vw), 100% 0, 100% calc(100% - 2vw), 0 100%);
  margin-top: -3vw;
  color: #353535;
  display: block;
  padding-bottom: 150px;
  padding-top: 120px;
  text-align: left;
  width: 100%;
}

footer {
  color: #ccc;
  padding: 50px 20px;
  font-size: .8rem;
  font-weight: 400;
}

.footer_link {
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 10px 20px;
  text-decoration: underline;
}
.footer_link:hover {
  color: #e29301;
  cursor: pointer;
  text-decoration: none;
}

/* Mobile Adjustments */

@media only screen and (max-width: 600px) {

  .container {
    padding: 0 10px;
  }

  footer {
    padding: 30px 10px;
  }

}


/**
 * 3.0 - Helper
 */

.small {
  font-size: .7rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.space25 {
  height: 25px;
  display:block;
  width: 100%;
}

.space50 {
  height: 50px;
  display:block;
  width: 100%;
}

.hide {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.responsivevideo {
  border-radius: 6px;
  height: 0; 
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 0;
}
.responsivevideo iframe,
.responsivevideo object,
.responsivevideo embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Mobile Adjustments */

@media only screen and (max-width: 850px) {

  .hide_on_tablet {
    display: none;
  }

}

@media only screen and (max-width: 600px) {

  .hide_on_mobile {
    display: none;
  }

}


/**
 * 4.0 - Buttons and Input
 */

.button, 
.button:active,
.button:focus {
  background-color: #e29301;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: none;
}
.button:hover {
  background-color: #e9b75b;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .3);
  color: #000;
  text-decoration: none;
}

.pseudo_link {
  cursor: pointer;
}

/* Language Switcher */

.language_switcher,
.language_switcher:active,
.language_switcher:focus {
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #ccc;
  display: inline-block;
  fill: #ccc;
  font-weight: 400;
  margin: 10px 20px;
  padding: 3px 8px;
  text-decoration: none;
}

.language_switcher:hover {
  background-color: #e9b75b;
  border-color: #e9b75b;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  color: #000;
  cursor: pointer;
  fill: #000;
  font-weight: 400;
  text-decoration: none;
}

.language_switcher svg {
  fill: inherit;
  height: 12px;
  margin-bottom: -1px;
  margin-right: 6px;
  position: relative;
  width: 12px;
}
.language_switcher svg path {
  fill: inherit;
}

#lang_menu {
  display: none;
}

#lang_menu_overlay {
  background-color: #353535;
  height: 100%;
  left: 0;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
}

#lang_menu_banner {
  background-color: #0e0e0e;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);
  box-sizing: border-box;
  color: #ccc;
  font-size: 1.5rem;
  left: 50%;
  margin-left: -150px;
  padding: 50px;
  position: fixed;
  text-align: center;
  top: 20%;
  width: 300px;
}

#lang_menu_close {
  cursor: pointer;
  fill: #ccc;
  position: absolute;
  right: 15px;
  top: 15px;
}
#lang_menu_close svg {
  fill: inherit;
  height: 25px;
  width: 25px;
}
#lang_menu_close svg path {
  fill: inherit;
}
#lang_menu_close:hover {
  fill: #fff;
}

.lang_menu_item,
.lang_menu_item_active {
  display: block;
  margin: 40px 0;
}

a.lang_menu_item,
a.lang_menu_item:active,
a.lang_menu_item:focus {
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #ccc;
  text-decoration: none;
  outline: none;
  padding: 10px 0 15px 0;
}
a.lang_menu_item:hover {
  background-color: #1f1f1f;
  border-color: #fff;
  color: #fff;
}

.lang_menu_item_active {
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: inset 1px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: inset 1px 1px 15px 1px rgba(0,0,0,1);
  color: #a9a9a9;
  padding: 10px 0 15px 0;
}



/**
 * 5.0 - Custom Elements
 */

#box_opened {
  display: none;
}

.box_icon {
  display: block;
  height: 200px;
  margin: 10px auto;
  width: 200px;
}

#github_button {
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  z-index: 99;
}

#github_button img:hover {
  opacity: .8;
}

/* Mobile Adjustments */

@media only screen and (max-width: 600px) {

  .box_icon {
    height: 150px;
    width: 150px;
  }

}
