/**
 * +++++++++++++++++++++++++
 * PHP Microsite Boilerplate
 * +++++++++++++++++++++++++
 * 
 * Version: 1.4.6
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/jekuer/php-microsite-boilerplate
 * License: GNU General Public License v3.0	(gpl-3.0)
 * 
 * ++++++++
 * AMP CSS Add-On
 * ++++++++
* 
 * Table of Contents
 * -----------------
 * 1.0 - Consent
 * 2.0 - Custom Elements
 *
 * 
 * Note: Mind to minimize this file.
 * 
 */


/**
 * 1.0 - Consent
 */

amp-consent {
  background: hsla(0, 0%, 100%, .9);
  border-top: 1px solid #bfbfbf;
}

#consentDialog {
  background-color: hsla(0, 100%, 0%, .95);
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 100%;
  left: 0;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.consentPopup {
  text-align: left;
}

.consentPopup button {
  margin-top: 20px;
}
.consentPopup button+button {
  margin-left:30px;
}

.consentPopup .dismiss-button {
  color: #bfbfbf;
  font-size: .8rem;
  padding: 10px;
  text-align: right;
}
.consentPopup .dismiss-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#post-consent-ui {
  padding: 15px;
  text-align: center;
}

.ampstart-btn {
  background-color: #e29301;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
}

.ampstart-btn:hover {
  background-color: #e9b75b;
}

.ampstart-btn-small {
  background-color: #353535;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 6px 8px;
  text-align: center;
  text-transform: lowercase;
}

.ampstart-btn-small:hover {
  background-color: #e9b75b;
  color: #353535;
}


/**
 * 2.0 - Custom Elements
 */

#lang_menu {
  display: block;
}

/* Put more AMP specific styles here... */
