/**
 * +++++++++++++++++++++++++
 * PHP Microsite Boilerplate
 * +++++++++++++++++++++++++
 * 
 * Version: 2.0.9
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/jekuer/php-microsite-boilerplate
 * License: GNU General Public License v3.0	(gpl-3.0)
 * 
 * ++++++++
 * Main CSS
 * ++++++++
 * 
 * Table of Contents
 * -----------------
 * 1.0 - General Framwork
 * 2.0 - General Layout
 * 3.0 - Helper
 * 4.0 - Buttons and Input
 * 5.0 - Custom Elements
 * 
 * 
 * Note: Mind to minimize this file.
 * 
 */


/**
 * 1.0 - General Framwork
 */

/* Include Tailwind */
/* Remove this if you are not using TailwindCSS and a respective build process, since it would then blow up your CSS! */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google Fonts. Include directly via https://google-webfonts-helper.herokuapp.com/fonts and mind "font-display:swap;" for best performance and GDPR compliance. */
/* if you do not care about old browsers, you can strip out all src entries except woff and woff2 to save on data. */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url('../fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}


@layer base {

  /* Defining base elements. */

  body {
    background: #e8e8e8;
    color: #353535;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.7rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  ::selection {
    background: #008c48;
    color: #fff;
  }
  ::-moz-selection {
    background: #008c48;
    color: #fff;
  }

  a,
  a:active,
  a:focus {
    color: #353535;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    touch-action: manipulation; /* saves some milliseconds, because the (mobile) device is not waiting for a second tap to check if the user wants to zoom in */
  }
  
  a:hover {
    color: #008c48;
    text-decoration: none;
  }

  li + li,
  li + ul li,
  ul + li {
    margin-top: 10px;
  }

}



/* YouTube Video Integration */

.youtube {
  background-color: #353535;
  border-radius: 0.25rem;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .2);
  text-align: center;
  width: 100%;
}
.youtube span {
  color: #fff;
  font-style: italic;
}
.youtube img {
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
}
.youtube .play-button {
	width: 100px;
	z-index: 1;
  opacity: .8;
  -webkit-filter: drop-shadow( 0px 0px 8px rgba(0, 0, 0, .8) );
  filter: drop-shadow( 0px 0px 8px rgba(0, 0, 0, .8) );
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 122.88" height="100%"><path fill="white" d="M61.44 0c33.93 0 61.44 27.51 61.44 61.44s-27.51 61.44-61.44 61.44S0 95.37 0 61.44 27.51 0 61.44 0h0zm21.87 65.24c3.13-2.02 3.12-4.27 0-6.06L50.98 40.6c-2.55-1.6-5.21-.66-5.14 2.67l.1 37.55c.22 3.61 2.28 4.6 5.32 2.93l32.05-18.51zM61.44 12.48c27.04 0 48.96 21.92 48.96 48.96S88.48 110.4 61.44 110.4 12.48 88.48 12.48 61.44 34.4 12.48 61.44 12.48h0z" fill-rule="evenodd"/></svg>');
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube:hover .play-button {
  opacity: 1;
}
.youtube:hover img {
  filter: brightness(40%) blur(1px);
  -webkit-filter: brightness(40%) blur(1px);
  -moz-filter: brightness(40%) blur(1px);
  -o-filter: brightness(40%) blur(1px);
  -ms-filter: brightness(40%) blur(1px);
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube span {
	position: absolute;
}
.youtube span,
.youtube .play-button {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}



/* Language Switcher */

.language_switcher,
.language_switcher:active,
.language_switcher:focus {
  border: 1px solid;
  border-color: inherit;
  border-radius: 6px;
  color: inherit;
  display: inline-block;
  fill: inherit;
  font-weight: 400;
  margin: 10px 20px;
  padding: 5px 8px;
  text-decoration: none;
  user-select: none;
}

.language_switcher:hover {
  background-color: #008c48;
  border-color: #008c48;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
  color: #fff;
  cursor: pointer;
  fill: #fff;
  font-weight: 400;
  text-decoration: none;
}

.language_switcher svg {
  display: inline-block;
  fill: inherit;
  height: 12px;
  margin-bottom: 2px;
  margin-right: 6px;
  position: relative;
  width: 12px;
}
.language_switcher svg path {
  fill: inherit;
}

#lang_menu {
  display: none;
}

#lang_menu_overlay {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(28, 28, 28, .98);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

#lang_menu_close {
  cursor: pointer;
  fill: #ccc;
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 999;
}
#lang_menu_close svg {
  fill: inherit;
  height: 25px;
  width: 25px;
}
#lang_menu_close svg path {
  fill: inherit;
}
#lang_menu_close:hover {
  fill: #fff;
}

#lang_menu_banner {
  box-sizing: border-box;
  color: #ccc;
  font-size: 2rem;
  padding: 50px 10px;
  position: fixed;
  text-align: left;
  top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
  z-index: 999;
}

.lang_menu_item,
.lang_menu_item_active {
  color: #666666;
  display: block;
  margin: 40px 0;
  padding: 10px 40px 15px;
  user-select: none;
  white-space: nowrap;
  overflow-x: hidden;
}

a.lang_menu_item,
a.lang_menu_item:active,
a.lang_menu_item:focus {
  color: #b1b1b1;
  font-weight: 800;
  text-decoration: none;
  outline: none;
}
a.lang_menu_item:hover {
  color: #fff;
}
a.lang_menu_item svg {
  display: inline-block;
  opacity: 0;
  position: relative;
  right: 0px;
  transition: all .1s ease-out;
  width: 1.1em;
  will-change: right, opacity;
}
a.lang_menu_item:hover svg {
  opacity: 1;
  right: -2rem;
}
